/* Reset some default styles 
    #c2e2ff == light blue
    #6698c4 == darker blue


*/


:root {
    --red: #ff6e8d;
    --hearts: #e74c3c;
    --diamonds: #4a7dff;
    --clubs: #00a624;
    --spades: #2c3e50;
    --yellow: #f4fce8;
    --black: #000000;
    user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* For WebKit browsers (Safari, Chrome) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--black);
}

/* Set up the app container using Flexbox */
.app-container {
    display: flex;
    height: 100vh;
    font-family: 'Arial', sans-serif;
}

/* Content area where the bean image and other components go */
.content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    flex-grow: 1; /* Take up remaining space */
    text-align: center;
}







/* Responsive design to make the layout adaptable */
@media screen and (max-width: 768px) {
    .app-container {
        flex-direction: column; /* Stack content and stores vertically on smaller screens */
    }

    .store {
        width: 100%; /* Full width on smaller screens */
        position: relative; /* Remove sticky positioning */
        box-shadow: none; /* Optional: remove shadow on smaller screens */
    }

    .content {
        width: 100%; /* Full width for content */
        margin-bottom: 20px; /* Add spacing below the content */
    }
}
