.btn {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-inline: 10px;
}

    .btn:hover .btn-slide-show-text1 {
        margin-left: 65px;
    }

.btn-moving-gradient {
    height: 55px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
}

    .btn-moving-gradient:hover {
        transition: 0.5s ease-in-out;
        background-position: 100% 0px;
    }

.btn-moving-gradient--blue {
    background-image: linear-gradient(90deg, rgb(61, 135, 255), rgb(190, 61, 255), rgb(126, 61, 255), rgb(58, 134, 255));
    box-shadow: rgb(190, 61, 255) 0px 4px 15px 0px;
}

    .btn:hover .btn-slide-show-text1 {
        margin-left: 65px;
    }

.btn-moving-gradient-2 {
    height: 55px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
}

    .btn-moving-gradient-2:hover {
        transition: 0.5s ease-in-out;
        background-position: 100% 0px;
    }

.btn-moving-gradient--red {
    background-image: linear-gradient(90deg, rgb(239, 37, 60), rgb(239, 148, 37), rgb(239, 104, 37), rgb(239, 35, 60));
    box-shadow: rgb(239, 148, 37) 0px 4px 15px 0px;
}

    .btn:hover .btn-slide-show-text1 {
        margin-left: 65px;
    }

.btn-moving-gradient-3 {
    height: 55px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
}

    .btn-moving-gradient-3:hover {
        transition: 0.5s ease-in-out;
        background-position: 100% 0px;
    }

.btn-moving-gradient--purple {
    background-image: linear-gradient(90deg, rgb(62, 53, 141), rgb(135, 53, 141), rgb(106, 53, 141), rgb(61, 52, 139));
    box-shadow: rgb(135, 53, 141) 0px 4px 15px 0px;
}

.bestHandText {
    margin-top: 15px;
}